<!--
    Citation for the code turned in for CS 340 Step 5
    Date: 11/16/2022
    Adapted from Michael McDonell's adaptation of the Node Starter App
    Node Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<h1>Adults</h1>
<h2>Browse or Update Adults</h2>

{{!-- <div id="searchByAdultName">
  <form id="searchAdult" method="GET" action='/adults'>
      <legend><strong>Search for a Adult</strong></legend>
      <caption>Search by Adult's name</caption>
      <fieldset class="fields">
          <label>Adult's Name </label>
          <input type="text" name="name" id="inputNameSearch"
      </fieldset>
      <button type="submit">Find Adult</button>
      <a href='/adults'><button>Reset</button></a>
  </form>
</div><!-- search --> --}}

<p></p>

<div id="browse">  
   <table id="adultTable">  
       <thead>  
           <tr>  
               {{#each data.[0]}}  
               <th>  
                   {{@key}}  
               </th>  
               {{/each}}  
           </tr>  
       </thead>  
         
       <tbody>  
           {{#each data}}  
           <tr data-value={{this.adultID}}>  
               <td><button onclick="deleteAdult({{this.adultID}})">Delete</button></td>
               <td>{{this.firstName}}</td>
               <td>{{this.lastName}}</td>  
               <td>{{this.phone}}</td>  
               <td>{{this.email}}</td> 
           </tr>  
           {{/each}}  
       </tbody>  
   </table>  
   <script src="./js/adults/delete_adult.js"></script>
</div>  

<p>&nbsp;</p> 

<h2>Insert an Adult into the table</h2>
  
<div id="insertAdult">
    <form id="insertAdultAjax">
        <legend><strong>Add Adult</strong></legend>
        <fieldset class="fields">
            <label for="inputFirstName">First Name</label>
            <input type="text" name="inputFirstName" id="inputFirstName">

            <label for="inputLastName">Last Name</label>
            <input type="text" name="inputLastName" id="inputLastName">

            <label for="inputPhone">Phone</label>
            <input type="text" name="inputPhone" id="inputPhone">

            <label for="inputEmail">Email</label>
            <input type="text" name="inputEmail" id="inputEmail">

            <label for="inputIsGuardian">Are You a Guardian?</label>
            <input type="text" name="inputIsGuardian" id="inputIsGuardian">

            <label for="inputConnectedAdultID">Connected Adult ID</label>
            <input type="number" name="inputConnectedAdultID" id="inputConnectedAdultID">

            <input type="submit">
        </fieldset>
    </form> 
</div><!-- insert -->

<script src="./js/adults/add_adult.js"></script>

<p>&nbsp;</p> 

<h2>Update an Adult's Info in the table</h2>


<div id="updateAdult">
    <form id="updateAdultAjax">
        <label for="updateName">Adult Name: </label>
        <select name="updateNameUpdate" id="updateNameUpdate">
            <option value="test">Select an Adult</option>
            {{#each data}}
            <option value="{{this.adultID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>

        <label for="updateFirstName">First Name</label>
            <input type="text" name="updateFirstName" id="updateFirstName">

            <label for="updateLastName">Last Name</label>
            <input type="text" name="updateLastName" id="updateLastName">

            <label for="updatePhone">Phone</label>
            <input type="text" name="updatePhone" id="updatePhone">

            <label for="updateEmail">Email</label>
            <input type="text" name="updateEmail" id="updateEmail">

            <label for="updateisGuardian">Are You a Guardian?</label>
            <input type="text" name="updateisGuardian" id="updateisGuardian">

            <label for="updateConnectedAdultID">Connected Adult ID</label>
            <input type="number" name="updateConnectedAdultID" id="updateConnectedAdultID">


        <input type="submit">
    </form>
</div><!-- update -->

<script src="./js/adults/update_adult.js"></script>

 </body>