<!--
    Citation for the code turned in for CS 340 Step 5
    Date: 11/16/2022
    Adapted from Michael McDonell's adaptation of the Node Starter App
    Node Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<h1>Games</h1>
<h2>Browse or Update Games</h2>

{{!-- <div id="searchByGameName">
  <form id="searchGame" method="GET" action='/games'>
      <legend><strong>Search for a Game</strong></legend>
      <caption>Search by Game's name</caption>
      <fieldset class="fields">
          <label>Game's Name </label>
          <input type="text" name="name" id="inputNameSearch"
      </fieldset>
      <button type="submit">Find Game</button>
      <a href='/games'><button>Reset</button></a>
  </form>
</div><!-- search --> --}}

<p></p>

<div id="browse">  
   <table id="gameTable">  
       <thead>  
           <tr>  
               {{#each data.[0]}}  
               <th>  
                   {{@key}}  
               </th>  
               {{/each}}  
           </tr>  
       </thead>  
         
       <tbody>  
           {{#each data}}  
           <tr data-value={{this.gameID}}>  
               <td>{{this.gameID}}</td>  
               <td>{{this.dateTime}}</td>
               <td>{{this.homeScore}}</td>  
               <td>{{this.awayScore}}</td>  
               <td>{{this.fieldNumber}}</td>
               <td>{{this.homeTeamID}}</td>  
               <td>{{this.awayTeamID}}</td>
               <td>{{this.refereeID}}</td>  
               <td><button onclick="deleteGame({{this.gameID}})">Delete</button></td>
           </tr>  
           {{/each}}  
       </tbody>  
   </table>  
   <script src="./js/games/delete_game.js"></script>
</div>  

<p>&nbsp;</p> 

<h2>Insert an Game into the table</h2>
  
<div id="insertGame">
    <form id="insertGameAjax">
        <legend><strong>Add Game</strong></legend>
        <fieldset class="fields">
            <label for="inputDateTime">Game DateTime</label>
            <input type="text" name="inputDateTime" id="inputDateTime">

            <label for="inputHomeScore">Home Score</label>
            <input type="text" name="inputHomeScore" id="inputHomeScore">

            <label for="inputAwayScore">Away Score</label>
            <input type="text" name="inputAwayScore" id="inputAwayScore">

            <label for="inputFieldNumber">Field Number</label>
            <input type="text" name="inputFieldNumber" id="inputFieldNumber">

            <label for="inputHomeTeamID">Home Team ID</label>
            <input type="text" name="inputHomeTeamID" id="inputHomeTeamID">

            <label for="inputAwayTeamID">Away Team ID</label>
            <input type="text" name="inputAwayTeamID" id="inputAwayTeamID">

            <label for="inputRefereeID">Referee ID</label>
            <input type="text" name="inputRefereeID" id="inputRefereeID">

            <input type="submit">
        </fieldset>
    </form> 
</div><!-- insert -->

<script src="./js/games/add_game.js"></script>

<p>&nbsp;</p> 

<h2>Update a Game's info in the table</h2>


<div id="updateGame">
    <form id="updateGameAjax">
        <label for="updateInfo">Game to Update: </label>
        <select name="inputNameUpdate" id="inputNameUpdate"></select>
            {{#each data}}
            <option value="{{this.gameID}}">{{this.dateTime}}</option>
            {{/each}}
            <label for="updateDateTime">Game DateTime</label>
            <input type="text" name="updateDateTime" id="updateDateTime">

            <label for="updateHomeScore">Home Score</label>
            <input type="text" name="updateHomeScore" id="updateHomeScore">

            <label for="updateAwayScore">Away Score</label>
            <input type="text" name="updateAwayScore" id="updateAwayScore">

            <label for="updateFieldNumber">Field Number</label>
            <input type="text" name="updateFieldNumber" id="updateFieldNumber">

            <label for="updateHomeTeamID">Home Team ID</label>
            <input type="text" name="updateHomeTeamID" id="updateHomeTeamID">

            <label for="updateAwayTeamID">Away Team ID</label>
            <input type="text" name="updateAwayTeamID" id="updateAwayTeamID">

            <label for="updateRefereeID">Referee ID</label>
            <input type="text" name="updateRefereeID" id="updateRefereeID">

        <input type="submit">
    </form>
</div><!-- update -->

<script src="./js/games/update_game.js"></script>

 </body>