<!--
    Citation for the code turned in for CS 340 Step 4
    Date: 11/10/2022
    Adapted fromNode Starter App
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<head>
<title>Players</title>
</head>
<body>


<h1>Players</h1>
<h2>Browse or Update Players</h2>

<div id="searchByDivision">
  <form id="searchByDivision" method="GET" action='/players'>
      <legend><strong>See Players By Division</strong></legend>
      <caption>Choose Division</caption>
      <fieldset class="fields">
          <label>Choose Division</label>
          <select name="divisionID" id="searchDivision">
                <option value="">Select a Division</option>
                {{#each divisions}}
                <option value="{{this.divisionID}}">{{this.description}}</option>
                {{/each}}
            </select>
      </fieldset>
      <button type="submit">Find Players</button>
      <a href='/players'><button>Reset</button></a>
  </form>
</div><!-- search -->

<p></p>

<div id="browse">  
   <table id="playerTable">  
       <thead>  
           <tr>  
               {{#each data.[0]}}  
               <th>  
                   {{@key}}  
               </th>  
               {{/each}}  
           </tr>  
       </thead>  
         
       <tbody>  
           {{#each data}}  
           <tr data-value={{this.playerID}}>  
                <td><button onclick="deletePlayer({{this.playerID}})">Delete</button></td>
               <td>{{this.RecentSeason}}</td>  
               <td>{{this.Division}}</td>  
               <td>{{this.RecentTeam}}</td>  
               <td>{{this.PlayerName}}</td>  
               <td>{{this.Gender}}</td>  
               <td>{{this.DOB}}</td> 
               <td>{{this.Guardian}}</td> 
               <td>{{this.ContactPhone}}</td> 
               <td>{{this.ContactEmail}}</td> 
               
           </tr>  
           {{/each}}  
       </tbody>  
   </table>  
   <script src="./js/players/delete_player.js"></script>
</div>  

<p>&nbsp;</p> 


</div><!-- insert -->

<script src="./js/add_team.js"></script>

<p>&nbsp;</p> 



 </body>
