<!--
    Citation for the code turned in for CS 340 Step 4
    Date: 11/10/2022
    Adapted fromNode Starter App
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<head>
<title>Volunteers</title>
</head>
<body>


<h1>Volunteers</h1>
<h2>Browse or Update Volunteers</h2>

<div id="searchByRole">
  <form id="searchRole" method="GET" action='/volunteers'>
      <legend><strong>See Volunteers By Role</strong></legend>
      <caption>Choose Role</caption>
       <fieldset class="fields">
          <label>Volunteer Role</label>
          <input type="text" name="role" id="inputRoleSearch"
      </fieldset>
      <button type="submit">See Volunteers in This Role</button>
      <a href='/teams'><button>Reset</button></a>
  </form>
</div><!-- search -->

<p></p>

<div id="browse">  
   <table id="volunteerTable">  
       <thead>  
           <tr>  
               {{#each data.[0]}}  
               <th>  
                   {{@key}}  
               </th>  
               {{/each}}  
           </tr>  
       </thead>  
         
       <tbody>  
           {{#each data}}  
           <tr data-value={{this.volunteerID}}>  
                <td><button onclick="deletePlayer({{this.volunteerID}})">Delete</button></td>
               <td>{{this.Season}}</td>  
               <td>{{this.Division}}</td>  
               <td>{{this.Team}}</td>  
               <td>{{this.Name}}</td>  
               <td>{{this.Role}}</td>  
               <td>{{this.Details}}</td> 
               <td>{{this.Phone}}</td> 
               <td>{{this.email}}</td>                
           </tr>  
           {{/each}}  
       </tbody>  
   </table>  
   <script src="./js/players/delete_player.js"></script>
</div>  

<p>&nbsp;</p> 


</div><!-- insert -->

<!-- <script src="./js/add_team.js"></script> -->

<p>&nbsp;</p> 

<h2>Update a Team's Mascot in the table</h2>

<div id="updateTeam">
    <form id="updateTeamAjax">
        <label for="inputName">Team Name: </label>
        <select name="inputNameUpdate" id="inputNameUpdate">
            <option value="test">Select a Team</option>
            {{#each data}}
            <option value="{{this.teamID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="inputMascot">Mascot: </label>
        <input type="text" name="inputMascotUpdate" id="inputMascotUpdate">
        <input type="submit">
    </form>
</div><!-- update -->

<script src="./js/update_team.js"></script>

 </body>
